.backgroundStileHead .header{
	width: 100%;
	display: flex;
	height: 60px;
}

.icons{
	width: 40px;
	height: 40px;
}

.h3-d1{
	display: inline;
	padding: 5px;
	margin: 2px auto;
}

.aligment{
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	margin-left: 1%;
}


.aligment .center-align{
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
}

.aligment .center-align .center-align-icon{
	margin: auto;
}

.aligment .center-align .center-align2 h5{
	margin: 0px;
}
.aligment .center-align .center-align2 h4{
	margin: 0px;
}

.flexTitleIcons{
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.aligmentRightIcons{
	display: flex;
	margin: 0 10px 0 auto;
	align-content: space-around;
	flex-direction: row;
}

.aligmentRightIcons div{
	margin: auto;
}

.aligmentRightIcons img.icons{
	border-radius: 50%;
}

.div2{
	background-color: rgb(0, 0, 97);
	display:flex;
	flex-direction: row;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.div2 .div3{
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-left: 3%;
}


.div2 .div3 .menuMovil{
	width: 40px;
	height: 40px ;
	display: none;
	border-radius: 6px;
}

.div2 nav {
	margin-right: 3%;
	margin-left: auto;
}

.div2 nav .menuNav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;	
}

.div2 nav .menuNav li ul {
			flex-direction: column;
			background-color: rgb(0, 0, 97);
			padding-left: 0px;
}

.div2 .div3 .logo{
	width: 80px;
	height: 80px ;
	border-radius: 50%;
	margin: auto;
}

.schoolTitle{
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-left: 5px;
	text-decoration: none;
}

.centerTitle{
	margin: auto;
}
.menuMovil{
	margin: auto;
}

.li-a{
	list-style: none;
	position: relative;
}

.li-a a .despleg{
	position: absolute;
	right: 10%;
	display: none;
	background-image: url("../../images/icons/mostrarsubmenu.png");
	background-size: cover;
	background-repeat:no-repeat;
}


.li-a a {
			text-decoration: none;
			font-size: 20px;
			color: white;
			font-weight: bold;
			padding: 12px 20px;
			display: block;
		}

.li-a a:hover{
			background: green;
		}

.submenu{
			position: absolute;
			display: none;
		}

.li-a:hover > ul {
			display: block;
			z-index: 50;
}


@media (max-width:800px){

	.li-a a:hover{
		background: none;
		border: none;
	}

	.backgroundStileHead{
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.backgroundStileHead .header{
		flex-direction: column;
		height: auto;
	}

	.div2{
		flex-direction: column;
	}

	.div2 .div3 .menuMovil{
		display: flex;
	}

	#navContainer{
		width: 100%;
		background-color: rgb(0, 0, 97);
		border: 1px solid rgb(224, 215, 196);
		display: none;
	}

	.li-a a .despleg{
		right: 10%;
		display: inline;
	}

	.div2 .div3{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.div2 nav {
		margin: 0;
		width: 100%;
	}

	.div2 nav .menuNav{
		flex-direction: column;
		background-color: rgb(0, 0, 97);
	}
	.submenu{
		position: relative;
		display: none;
		margin-left: 10%;
	}

}