.card{
	width: 300px;
	height: 380px;
	border-radius: 20px;
	box-shadow:  0px 3px 5px 5px rgba(68, 70, 83, 0.3);
	margin: auto;
	text-align: center ;
	transition: all 0.25s ;
	background:  #f9f9fc ;
}

.card:hover{
	background:  #152063;
	box-shadow:  0px 3px 5px 5px rgba(  28, 28, 32 , 0.3);
}

.card:hover > h4 {
	color: white;
}

.card:hover > h5 {
	color:  #d9dcf0 ;
}

.card .imgCard {
	margin-top: 8px;
	width: 220px;
	height:220px ;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border: 2px solid  #e80d0d;
}

.containercard .card h4{
	font-weight: bold ;
	font-size: 20px;
}

.containercard .card p{
	padding: 6px;
	font-size: 16px;
	background: blanchedalmond;
	font-weight: bold;
}



.promo1{
	padding: 6px ;
	font-size: 18px;
	font-weight: 200;
	color: blue;
}


.promo2{
	padding: 6px ;
	font-size: 18px;
	font-weight: 200;
	color: orange;
}


.promo3{
	padding: 6px ;
	font-size: 18px;
	font-weight: 200;
	color: red;
}

.containercard .card a {
	font-weight: 500 ;
	text-decoration: none;
}

.containercard .card .optionsAdmin{
    display: flex;
    flex-direction: row;
    align-content: center;
}
    
.containercard .card .optionsAdmin .alignRightIcons{
    margin-right: 0px;
    margin-left: auto;
	display: flex;
	flex-direction: row;
}
.containercard .card .optionsAdmin .alignRightIcons .iconAdminE{
	border-style: none;
	margin: 2px 4px 2px 4px;
	width: 40px;
    height: 40px;
	background: url('../../images/icons/editar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
    cursor: pointer;
}
.containercard .card .optionsAdmin .alignRightIcons .iconAdminD{
	border-style: none;
	margin: 2px 4px 2px 4px;
	width: 40px;
    height: 40px;
	background: url('../../images/icons/eliminar.png');
	background-repeat: no-repeat;
	background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:800px){
	.card{
		margin: 6px;
		box-shadow:  0px 2px 4px 4px rgba(122, 122, 129, 0.3);
	}
}