.main-container-layout-sliderFP{
	width: 90%;
	height: 90%;
	margin: 1% auto 2% auto;
	overflow: hidden;
	position: relative;
}

.slider-containerFP{
	width: 200%;
	height: 100%;
	display: flex;
	margin: 0px;
	position: relative;
	/*animation: slideet 10s infinite;*/
}

#arrorLeftControl{
	position: absolute;
	z-index: 4;	
	width: 50x;
	height: 50px;
	top:45%;
	left: 0px;
	border-radius: 50%;
  }

  #arrorLeftControl:hover{
	border: 3px solid rgb(243, 149, 8);
  }

  #arrorRightControl{
	position: absolute;
	z-index: 4;
	width: 50x;
	height: 50px;
	top:45%;
	right: 0px;
	border-radius: 50%;
  }

  #arrorRightControl:hover{
	border: 3px solid rgb(243, 149, 8);
  }

.slider-containerFP .container-boxFP{
	display: flex;
	width: 100%;
	height: 100%;
}

.slider-containerFP .container-boxFP img{
    width: 100%;
	height: 100%;
}

@keyframes slideet{
	0%{margin-left: 0%;}
	48%{margin-left: 0%;}

	50%{margin-left: -100%;}
	100%{margin-left: -100%;}
}