.itemGaleryContainer{
    background: rgb(238, 234, 241);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: auto;
    width: 250px;
}

.itemGaleryContainer img{
    width: 250px;
    height: 250px;
}

.itemGaleryContainer h4{
    font-size: 23px;
    margin:8px 0px 0px 0px;
}

.itemGaleryContainer h4{
    font-size: 18px;
    margin:8px 0px 0px 0px;
}

.itemGaleryContainer .optionsAdmin{
    display: flex;
    flex-direction: row;
    align-content: center;
}
    
.itemGaleryContainer .optionsAdmin .alignRightIcons{
    margin-right: 0px;
    margin-left: auto;
    background-color: #f5bbf5;
}

.itemGaleryContainer .optionsAdmin .alignRightIcons .iconAdmin img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
}