.horarioEscolar{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    background: #E4E0F6;
}

.horarioEscolar img{
    margin: auto;
    width: 80%;
    height: auto;
}

@media (max-width:800px){
    .horarioEscolar{
        height: 350px;
    }
    .horarioEscolar img{
        margin: auto;
        width: 100%;
        height: 90%;
    }
}